.page-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2em 11% 0 11%;
	overflow: auto;
	height: 100vh;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.page-content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.page-content h1 {
	margin: 0 0 1em 0;
	padding: 0;
}

.box-new {
	background-color: #100f0ea8;
	border-radius: 1em;
	padding: 2em;
	margin-bottom: 8em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.box-new .submitButton {
	width: 8em;
}

.box-main {
	width: 100%;
	display: flex;
	justify-content: inherit;
	align-items: center;
	margin-bottom: 2em;
}

.left-box {
	width:  70%;
}

.right-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.right-box button {
	margin-top: 1em;
}

.right-box img {
	width: auto;
	height: auto;
	max-height: 20em;
	max-width: 24vw;
	border-radius: .3em;
	cursor: pointer;
}

.name-group {
	position: relative;
	margin-bottom: 2em;
	width: 18.8em;
}

.name-group input {
  padding: 0.5em 0.5em 0.5em 0.25em;
  display: block;
  width: 18em;
  border: none;
  border-bottom: 0.1em solid #f3a401;
  background-color: #1e1d1e;
  color: white;
}

.name-group input:focus { 
	outline: none; 
}

.name-group label {
  color: #f3a401; 
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.25em;
  top: 0.5em;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.name-group input:focus ~ label, .name-group input:valid ~ label {
  top:-1em;
  font-size:0.8em;
  color:#f3a401;
}

.name-group .bar { 
	position: relative; 
	display: block; 
	width: 100%;
}

.name-group .bar:before, .name-group .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#f3a401; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.name-group .bar:before {
  left:50%;
}

.name-group .bar:after {
  right:50%; 
}

.name-group input:focus ~ .bar:before, .name-group input:focus ~ .bar:after {
  width:50%;
}

.description-group textarea {
	width: 80%;
	background-color: #1e1d1e;
	color: white;
	border: .1em solid #f3a401;
	border-radius: .4em;
	padding: .5em;
}

.description-group textarea::placeholder {
	color: grey;
  font-style: italic;
}

.description-group textarea:focus {
	outline: none;
}

@media screen and (max-width: 768px) {
	.name-group {
		width: 8.7em;
		margin-bottom: 1em;
	}

	.name-group input {
		width: 10em;
	}
}

@media screen and (max-width: 480px) {
	.name-group {
		width: 6.3em;
		margin-bottom: .5em;
	}
}