.advice {
	background-color: #100f0ea8;
	display: flex;
	align-items: stretch;
	border-radius: 0.8em;
	margin-top: 1em;
	padding: 1em 2em 1em 2em;
	height: 13em;
}

.advice-left {
	width: 10%;
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.advice-left .pseudo {
	font-size: 1.2em;
}

.advice-left .nbAdvices {
	font-size: 0.6em;
}

.advice-left img {
	width: 6em;
	margin-bottom: 10%;
}

.advice-left p {
	margin: 0;
}

.userInfos {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-top: 10%;
}

.advice-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5%;
	width: 90%;
	text-align: justify;
}

.rate-and-date {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.rate-and-date p {
	margin-left: 1em;
}

.rate-and-date .date-full {
	display: block;
}

.rate-and-date .date-cut {
	display: none;
}

.advice-rate img {
	width: 2em;
	height: 2em;
}

.advice-title p {
	margin: 0;
	color: #f3a401;
}

.advice-comment {
	padding-right: .8em;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.advice {
		height: 10em;
	}

	.advice-left {
		width: 20%;
	}

	.advice-left img {
		width: 5em;
	}

	.advice-right {
		width: 80%;
	}

	.advice-rate img {
		width: 1.2em;
		height: 1.2em;
	}

	.rate-and-date .date-full {
		display: none;
	}

	.rate-and-date .date-cut {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.advice {
		height: 7em;
		padding: .5em 1em .5em 1em;
	}

	.advice-left img {
		width: 3em;
	}

	.advice-rate img {
		width: 1.2em;
		height: 1.2em;
	}

	.rate-and-date {
		margin-bottom: 0;
	}

	.rate-and-date .date-full {
		display: none;
	}

	.rate-and-date .date-cut {
		display: block;
	}
}

@media screen and (max-width: 376px) {
	.rate-and-date .date-cut {
		display: none;
	}
}