.beer-page {
	margin: 2em 11% 0 11%;
	overflow: auto;
	height: calc(100vh - 8em);
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.beer-page::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.beer-info {
	background-color: #100f0e;
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	padding: 0 1em 0 1em;
}

.beer-info > img
{
	max-height: 15em;
	margin: 1em 0 1em 0;
}

.beer-content
{
	margin-top: 2em;
}

.beer-content-header
{
	display: flex;
}

.beer-content-header p
{
	margin-left: 2em;
	font-style: italic;
}

.title-and-rate
{
	padding-top: 0.5%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.title-and-rate h1
{
	color: white;
	margin: 0;
	padding: 0.5% 1% 0 0;
}

.title-info
{
	display: flex;
}

.title-info p
{
	margin-left: 7%;
	white-space: nowrap;
}

.rate-icons
{
	padding-left:  2%;
	padding-right: 2%;
}

.rate-icons img
{
	width: 2em;
	height: 2em;
}

.description
{
	max-height: 8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description p
{
	max-height: 8em;
	overflow: auto;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
}

.description p::-webkit-scrollbar {
  	display: none; /* for Chrome, Safari, and Opera */
}

.title-rate-and-description
{
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


@media screen and (max-width: 700px) 
{
	.rate-icons img
	{
		width: 1.2em;
		height: 1.2em;
	}

	.description
	{
		max-height: 6em;
	}
	
	.description p
	{
		max-height: 6em;
	}

	.beer-info > img
	{
		max-height: 6em;
	}
}

.beer-advices
{
	display: flex;
	flex-direction: column;
}

.beer-advice
{
	background-color: #100f0ea8;
	display: flex;
	border-radius: 0.8em;
	margin-top: 1em;
	padding: 1em 3em 0 2em;
	height: 13em;
}

.beer-advice-left
{
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer-advice-left .userName
{
	font-size: 1.2em;
}

.beer-advice-left .nbAdvices
{
	font-size: 0.6em;
}

.beer-advice-left img
{
	width: 6em;
	margin-bottom: 10%;
}

.beer-advice-left p
{
	margin: 0;
}

.userInfos
{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-top: 10%;
}

.beer-advice-right
{
	margin-left: 5%;
}

.beer-advice-right
{
	text-align: justify;
}

.rate-and-date
{
	display: flex;
	margin-bottom: 1em;
}

.rate-and-date p
{
	font-size: 0.8em;
	margin-left: 1em;
}

.advice-rate img
{
	width: 2em;
	height: 2em;
}

.advice-title p
{
	font-size: 1.5em;
	margin: 0;
	color: #f3a401;
}

@media screen and (max-width: 380px) 
{
	.beer-info > img
	{
		display: none;
	}

	.title-rate-and-description
	{
		width: 100%;
	}
}

@media screen and (max-width: 700px) 
{

}