.footer {
	height: 3em;
	width: 100vw;
	background-color: var(--col-dark-background);
	-webkit-box-shadow: 0 .06em 1em 0 rgba(0,0,0,0.85); 
	box-shadow: 0 .06em 1em 0 rgba(0,0,0,0.85);
}

.footer p {
	margin-top: 0;
	padding-top: 1em;
	text-align: center;
}

.footer a {
	color: var(--col-dark-element);
}


.end-of-page {
    height: 5em;
    width: 100%;
    background-color: var(--col-dark-background);
}

@media screen and (max-width: 480px) {
    .end-of-page {
        height: 8em;
    }
}