header {
    padding: 0.5em 10% 0.5em 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #100f0e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header p {
    color: white;
}

.header img {
    width: 3em;
}

.header-left {
    display: flex;
}

.header-left > img {
    margin-right: 1em;
}

.header-right {
    display: flex;
}

.add-beer {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.add-beer img {
    width: 2em;
    margin-right: 0.5em;
}

@media screen and (max-width: 700px) {
    header {
        font-size: 1em;
        padding: 0.5em 10% 0.5em 10%;
    }

    .header > img {
        width: 2em;
    }

    .add-beer > p {
        display: none;
    }
}