header {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
}

.header > img {
    width: 3em;
    margin-right: 1em;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}