.form-search {
    padding: 2em 10% 0 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-search button {
    margin-left: .5em;
    padding: .2em .5em;
}

.input-search  {
    all: unset;
    background-color: var(--col-dark-background);
    padding-left: 0.8em;
    padding-right: 0.8em;
    max-width: 92%;
    width: 25em;
    height: 2em;
    color: var(--col-dark-text);
    border-radius: 2em;
    font-style: italic;
}

.home-page {
    height: calc(100vh - 3.2em);
    overflow: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.home-page::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.collection-beer {
    padding: 2em 5% 0 5%;
    min-height: calc(100vh - 24em);
    height: calc(93% - 2.5em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    opacity: 0;
}

.collection-beer.is-loaded {
    transition: all 1s;
    -webkit-transition: all 2s;
    opacity: 1;
}

.beer-preview {
    height: 100%;
    width: 16em;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    border-radius: .5em;
    overflow: hidden;
    transition: transform .5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.beer-thumbnail {
    height: 16em;
    width: auto;
}

.beer-preview img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.beer-description {
    background-color: var(--col-dark-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4em;
    padding: 0 1em 0 1em;
}

.beer-description-name {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.3em;
}

.beer-description p {
    color: var(--col-dark-text);
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beer-description-name .style {
    font-size: .7em;
}

.beer-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beer-rate-img img {
    width: 1.2em;
    height: 1.2em;
}

.beer-rate-advices p {
    margin-left: 1em;
    font-style: italic;
    color: var(--col-dark-text-secondary);
}

.add-your-beer {
    display: flex;
    justify-content: center;
}

.add-your-beer a {
    color: var(--col-dark-element);
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.paging p {
    margin: 0 .5em;
}

.end-of-page {
    height: 5em;
    width: 100%;
    background-color: var(--col-dark-background);
}

@media screen and (min-width: 769px) {
    .beer-preview:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .home-page {
        height: calc(100vh - 2.5em);
    }

    .beer-preview {
        height: 100%;
        width: 12em;
    }

    .beer-thumbnail {
        height: 12em;
    }

    .beer-description {
        height: 3em;
        padding: 0 .75em 0 .75em;
    }

    .beer-rate-img img {
        width: .9em;
        height: .9em;
    }

    .beer-description-name .style {
        font-size: .6em;
    }
}

@media screen and (max-width: 480px) {
    .home-page {
        height: calc(100vh - 2em);
    }

    .beer-preview {
        height: 100%;
        width: 8.8em;
    }

    .beer-thumbnail {
        height: 8.5em;
    }

    .beer-description {
        height: 2.5em;
        padding: .2em .55em .2em .55em;
    }

    .beer-description-name .style {
        display: none;
    }
    
    .beer-rate-img img {
        width: .6em;
        height: .6em;
    }

    .end-of-page {
        height: 8em;
    }
}