.input-search {
    all: unset;
    background-color: #100f0e;
    padding-left: 0.8em;
    padding-right: 0.8em;
    max-width: 92%;
    width: 25em;
    height: 2em;
    color: white;
    border-radius: 15px;
    font-style: italic;
}

.collection-beer
{
    background-color: white;
    padding-top: 2%;
    height: 30em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beer-preview
{
    background-color: grey;
    list-style: none;
    flex: 0 0 30%;
    height: 2em;
    min-width: 15em;
    max-width: 20em;
    margin-left: 1%;
    margin-right: 1%;
}
