.register-page
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.register-page h1
{
     padding: 0;
}

.register-page a
{
    color: #f3a401;
}

.register-box
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    height: 35em;
    width: 35em;
    border-radius: 1em;
    background-color: #100f0ea8;
}

.input-group
{
	position: relative;
    margin-bottom: 3em;
}

.input-group input
{
  font-size: 1.1em;
  padding: 0.5em 0.5em 0.5em 0.25em;
  display: block;
  width: 18em;
  border: none;
  border-bottom: 0.1em solid #f3a401;
  background-color: #1e1d1e;
  color: white;
}

.input-group input:focus
{ 
	outline: none; 
}

.input-group label
{
  color: #f3a401; 
  font-size: 1.1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.25em;
  top: 0.5em;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.input-group input:focus ~ label, .input-group input:valid ~ label
{
  top:-1em;
  font-size:0.8em;
  color:#f3a401;
}

.input-group .bar  
{ 
	position:relative; 
	display:block; 
	width:20.7em;
}

.input-group .bar:before, .input-group .bar:after   
{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#f3a401; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.input-group .bar:before 
{
  left:50%;
}

.input-group .bar:after 
{
  right:50%; 
}

.input-group input:focus ~ .bar:before, .input-group input:focus ~ .bar:after 
{
  width:50%;
}

.error-message
{
  color: red;
	font-style: italic;
	font-size: 1em;
}

.valid-message
{
  color: green;
	font-style: italic;
	font-size: 1em;
}