body {
    font-family: sans-serif;
    font-weight: unset;
    margin: 0px;
    background-color: #38383f;
    overflow: hidden;
}

input {
    font-weight: unset; 
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2em;
	color: white;
	margin: 0;
	padding: 0.5% 1% 0 5%;
}

p {
    font-size: 1em;
    color: white;
}

button {
    color: #ffffff;
    background-color: #f79716ba;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

button:hover {
    color: #ffffff;
    background-color: #f79716db;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.6em;
    }
}