.user-page {
    margin: 2em 11% 0 11%;
    overflow: auto;
		height: calc(100vh - 8em);
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
  	scrollbar-width: none; /* for Firefox */
}

.user-page::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.user-header {
	display: flex;
	background-color: #100f0e;
	padding: 2em;
	border-radius: 1em;
}

.user-header img {
	height: 7em;
}


.user-header-right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0 1em 0 1em;
}

.user-header-right-top {
	height: 100%;
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.user-header-right-top p {
	margin: 0;
}

.user-header-right-bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.user-header-right-bottom p {
	margin: 0;
}

.beer-advices
{
	display: flex;
	flex-direction: column;
}

.beer-advice
{
	background-color: #100f0ea8;
	display: flex;
	border-radius: 0.8em;
	margin-top: 1em;
	padding: 1em 3em 0 2em;
	height: 13em;
}

.beer-advice-left
{
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer-advice-left .userName
{
}

.beer-advice-left .nbAdvices
{

}

.beer-advice-left img
{
	width: 6em;
	margin-bottom: 10%;
}

.beer-advice-left p
{
	margin: 0;
}

.userInfos
{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-top: 10%;
}

.beer-advice-right
{
	margin-left: 5%;
}

.beer-advice-right
{
	text-align: justify;
}

.rate-and-date
{
	display: flex;
	margin-bottom: 1em;
}

.rate-and-date p
{

	margin-left: 1em;
}

.advice-rate img
{
	width: 2em;
	height: 2em;
}

.advice-title p
{

	margin: 0;
	color: #f3a401;
}