.validation-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
}

.box
{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--col-dark-background-box);
    border-radius: 1em;
    margin-top: 1em;
    padding: 6em 6em 4em 6em;
    height: 50%;
}

.validation-page h1 {
	padding: 0;
	margin-bottom: 2em;
}

.validation-page p {
	margin: .2em;
	color: var(--col-dark-element);
}

.validation-page .error-message {
    margin-bottom: 1.5em;
 	color: red;
}

.validation-page .msg-connection {
	font-style: italic;
}

@media screen and (max-width: 768px) {
  .box {
    padding: 4em 4em 2em 4em;
  }
}

@media screen and (max-width: 480px) {
  .box {
    padding: 3em 3em 1.5em 3em;
  }
}