.buttons-bar
{
	margin-top: 1em;
	display: flex;
    justify-content: flex-end;
}

.buttons-bar button
{
	margin-left: 1em;
}

.write-advice
{
	background-color: #100f0ea8;
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    margin-top: 2.5em;
    padding: 1em 3em 0 2em;
}

.write-advice .rate-img img
{
	cursor: pointer;
	height: 2.8em;
	width: auto;
}

.advice-header
{
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	margin-bottom: 1em;
}

.rate-group
{
	display: flex;
	align-items: center;
}

.rate-group p
{
	margin-right: 1em;
	color: #f3a401;
	font-size: 1.1em;
}

.title-group
{
	position: relative;
}

.title-group input
{
  font-size: 1.1em;
  padding: 0.5em 0.5em 0.5em 0.25em;
  display: block;
  width: 18em;
  border: none;
  border-bottom: 0.1em solid #f3a401;
  background-color: #1e1d1e;
  color: white;
}

.title-group input:focus
{ 
	outline: none; 
}

.title-group label
{
  color: #f3a401; 
  font-size: 1.1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.25em;
  top: 0.5em;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.title-group input:focus ~ label, .title-group input:valid ~ label
{
  top:-1em;
  font-size:0.8em;
  color:#f3a401;
}

.title-group .bar  
{ 
	position:relative; 
	display:block; 
	width:20.7em;
}

.title-group .bar:before, .title-group .bar:after   
{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#f3a401; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.title-group .bar:before 
{
  left:50%;
}

.title-group .bar:after 
{
  right:50%; 
}

.title-group input:focus ~ .bar:before, .title-group input:focus ~ .bar:after 
{
  width:50%;
}

.comment-group
{
	margin-bottom: 1em;
}

.comment-group textarea
{
	width: 80%;
	background-color: #1e1d1e;
	color: white;
	font-size: 1.5em;
	border: .1em solid #f3a401;
	border-bottom: .2em solid #f3a401;
	border-radius: .4em;
	padding: .5em;
}

.comment-group textarea::placeholder
{
	color: grey;
  font-style: italic;
}

.comment-group textarea:focus
{
	outline: none;
}